@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

body {
    font-family: 'Quicksand', sans-serif;
}

@keyframes bounce-x {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(-25%); }
}

